:root{
    --white-color : #fff;
    --black-color: #000;
    --text-color:#333;
    --star-gold: #ffce3e;
    --primary-color: rgb(238, 77, 45);
    --nav-height: 34px;
    --header-height: 120px;
    --header-seacrh: calc(var(--header-height) - var(--nav-height));
    --header-sort-height: 46px;
    } 

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:'Roboto',sans-serif;
    box-sizing: border-box;
   
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    width: 100%;
}
.grid__col-2{
    padding-right: 5px;
    padding-left: 5px;
    width: 16.6667%;
}
.grid__col-10{
    padding-right: 5px;
    padding-left: 5px;
    width: 83.3334%;
}
.grid__col-2-4{
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}
}
/* Test responsive */

/* Animition*/
@keyframes fadeIn{
    from{
        opacity:0;

    }
    to{
        opacity: 1;

    }
}
@keyframes Growth{
    from{
        transform: scale(var(--growth-in));

    }
    to{
        transform: scale(var(--growth-up));

    }
}
.btn{
    min-width: 124px;
    height: 34px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    line-height: 34px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    color: rgba(0,0,0,0.7)
  
}
.btn-normal:hover{
    background-color: rgba(0,0,0,0.05);
   
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 52px 0 8px ;
}
.marin--r--8{
    margin-right: 8px;
}
.btn--defual{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
.font-size-600{
    font-weight: 600;
    opacity: 0.9;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.mb-8{
    margin-bottom: 8px;
}
.pt--36px{
    padding-top: 36px;
}
.mt--32{
    margin-top: 32px;
}
.mb--40{
    margin-bottom: 40px;
}
.pagination
{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.pagination__item{
    display: block;
    margin: 0 12px;
}
.pagination__item--active .pagination__item-link{
    background-color: var(--primary-color);
    line-height: 29px;
    text-align: center;
    border-radius: 2px;
    color: white;
}
.pagination__item--active .pagination__item-link:hover{
    filter: brightness(80%);
}
.pagination__item-link{

    border-radius: 2px;
    display: block;
    width: 40px;
    height: 29px;
    font-size: 2rem;
    font-weight: 400 ;
    text-decoration: none;
    color: #939393;
 
    line-height: 29px;
    text-align: center;
}
